h1{
    border: 2px solid black;
    background-color: aqua;
    /* width: 500px; */
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    margin-right: 550px;
    
}